.whole{
    width:98.3vw;
}
@media (max-width:1200px) {
    .whole{
        width:97vw;
    }
}
@media (max-width:800px) {
    .whole{
        width:96vw;
    }
}
@media (max-width:600px) {
    .whole{
        width:94vw;
    }
}
@media (max-width:580px) {
    .whole{
        width:93vw;
    }
}
// @media (max-width:500px) {
//     .whole{
//         width:94vw;
//     }
// }
// @media (max-width:400px) {
//     .whole{
//         width:94vw;
//     }
// }