.ourServicesHead {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    font-weight: 500;
    margin-top:90px;
    margin-bottom:50px;
  }
  
  .bg {
    // background-color: #ebe5e5;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns on large screens */
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 10px; /* Optional padding */
    padding-top:0px;
    margin-left: 50px;
    margin-bottom:90px;
  }
  
  @media (max-width: 1200px) {
    .bg {
      grid-template-columns: repeat(2, 1fr); /* 3 columns on medium screens */
    }
  }
  
  @media (max-width: 900px) {
    .bg {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
  }
  
  @media (max-width: 600px) {
    .bg {
      grid-template-columns: 1fr; /* 1 column on extra small screens */
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5eaf8;
    border-radius: 20px;
    padding: 20px;
    padding-top:0px;
    height: 200px; /* Fixed height for consistency */
    width: 500px; /* Fixed width for each card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    transition: transform 0.3s ease; /* Smooth scale effect */
    margin-bottom: 25px;
    margin-top:0px;
  }
  
  .container:hover {
    transform: scale(1.05); /* Scale effect on hover */
  }
  
  .head {
    color: black;
    font-weight: bold;
    font-size: 18px; /* Slightly smaller font */
  }
  .image{
    height:80px;
    width:250px;
    padding-top:0px;
    margin-top:0px;
  }
  
  .mainhead {
    color: black;
    line-height: 140%;
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px; /* Space between heading and paragraph */
    padding-top:0px;
  }
  
  .cardPara {
    font-size: 15px;
    text-align: center; /* Center align card text */
    color: #333; /* Slightly softer color */
    line-height: 1;
  }
  