.bg {
  background-color: #370978;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.bookDemo {
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  font-size: 15px;
}
