.background {
//   background-color: rgb(240, 240, 246);
background-color:  #ecefff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align:center;
}
.bg {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 50px;
  border-radius: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  
 
}
// .p{
//     width:40px;
// }
.head {
  font-size: 25px;
  font-weight: bold;
}
.icon_button {
  // margin: 0 10px;
  color: rgb(14, 14, 94);
  font-weight:2px;
  margin-top:10px;
  background-color:rgb(250, 237, 250);
  border-radius: 50px;
  // width:20px;
  height:20px;
  width:30px;
  // margin-left:50px;
  font-size:30px;
  padding:18px;
  // margin-top:px;
  &:hover {
    color: #1877f2;
   

  }
}
