.TechPart {
  background-color: #f0f6ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  //   padding-left:80px;
  //   padding-right:30px;
}

.TechHead {
  font-family: Readex Pro, sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 120%;
}
.logo1_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}
